<div class="container-about">
    <div class="about-item about-item1">
        <h1>About Our Construction Company</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Quasi vero suscipit dolor cumque debitis, esse perspiciatis 
             et repellendus itaque ab corporis?</p>
        <button mat-raised-button (click)="submit()">Submit</button>
    </div>
    <div class="about-item about-item2">
        <h1>What We Do</h1>
        <div class="about-item-2 about-item-21">
            <mat-icon >laptop</mat-icon>&nbsp;
            <h2>Build Your Carrier</h2>
            
        </div>
        <div class="about-item-2 about-item-22"></div>
        <div class="about-item-2 about-item-23"></div>
    </div>
</div>