.container-desktop{
    width: 80%;
    margin: auto;
}

mat-card{
    width: 280px;
    display: inline-block;
    margin: 50px;
    background-color: rgb(188, 188, 211);
    mat-card-header{
        h1{display: inline-block;padding-right: 50px;}
        

}

 mat-card-content{
    h2{display: inline-block;}
}

}